.App {
  text-align: center;
  margin-top: 20px;
}

.submit-button,.card-action{
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.card-action{
  margin-top: 1px;
}
.form-control-edit{
  margin: 1rem;
}
.container{
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.task-list,taskcard{
  margin:1rem;
}

a{
  text-decoration: none;
  color: #1976d2;
}

.taskcard{
  margin-top: 3px;
}

